<a href="https://colab.research.google.com/github/Branre42/LabCo-Bran-loops/blob/main/Lab_Conditions_and_Branching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write your code below and press Shift+Enter to execute
#1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively.
#They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.
a = 1996
j = 1999
x = 4

y = a%x
z = j%x


if y == 0:
  print ('Annie was born in a leap year')
elif z == 0:
 print ('Jane was born in a leap year')
else:
    print ('Anybody was not born in a leap year')

Annie was born in a leap year

In [8]:
# 2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast.
# Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger.
# The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10.
#  Use if-else statement to determine what the canteen master will offer to him.Â¶

Sam = 10
if Sam <= 9:
  print ('Give milk')
elif Sam >= 10 or Sam <= 14:
  print ('Give sandwich')
elif Sam >= 15 or Sam <= 17:
  print ('Give a burger')

Give sandwich

In [1]:
for i in range (-5,5):
  print (i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [7]:
#Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.
Genres =[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for genre in Genres:
  print (genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [6]:
#Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']
squares=['red', 'yellow', 'green', 'purple', 'blue']

for square in squares:
  print (square)

red
yellow
green
purple
blue

In [4]:
#Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings.
#If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
play = PlayListRatings[0]

while (play > 6):
  print (play)
  i = i + 1
  play = PlayListRatings[i]

print ("It took ", i ,"repetitions to get out of loop.")

10
9.5
10
8
7.5
It took  5 repetitions to get out of loop.

In [5]:
#Write a while loop to copy the strings 'orange' of the list squares to the list new_squares.
#Stop and exit the loop if the value on the list is not 'orange':

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i=0
while(i < len(squares) and squares[i] == 'orange'):
  new_squares.append(squares[i])
  i=i+1
print (new_squares)

['orange', 'orange']

In [3]:
#Your little brother has just learned multiplication tables in school.
#Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.
print ('------Multiplication of 6-------')
for i in range (10):
  print ('6*',i)
  print (6*i)
print ('------Multiplication of 7-------')
for i in range (10):
  print ('7*',i)
  print (7*i)

------Multiplication of 6-------
6* 0
0
6* 1
6
6* 2
12
6* 3
18
6* 4
24
6* 5
30
6* 6
36
6* 7
42
6* 8
48
6* 9
54
------Multiplication of 7-------
7* 0
0
7* 1
7
7* 2
14
7* 3
21
7* 4
28
7* 5
35
7* 6
42
7* 7
49
7* 8
56
7* 9
63

In [2]:
#The following is a list of animals in a National Zoo. Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

#Your brother needs to write an essay on the animals whose names are made of 7 letters.
#Help him find those animals through a while loop and create a separate list of such animals.

animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

newanimals = []
i=0
j=0
while i<len(animals):
  j=animals[i]
  if len(j)==7:
    newanimals.append(j)
  i=i+1
print(newanimals)

['giraffe', 'gorilla', 'parrots']